<template>
    <q-card class="location">
        <div class="col-12 items-center justify-center">
            
            <!--name of location-->
            <div class="row justify-start items-center text-bold q-pa-xs">
                {{ `${this.name}, ${this.data['sys']['country']}` }}
            </div>
            
            <!--icon + temperature-->
            <div class="row justify-center items-center text-bold q-pa-xs">
                <div class="col-4 justify-center items-center">
                    <q-img class="iconImg" :src="iconUrl"/>
                </div>
                <div class="col-4 text-bold text-h5">
                    {{ `${parseFloat(this.data['main']['temp']).toFixed(0)}°C` }}
                </div>
            </div>

            <!--description-->
            <div class="row justify-start items-center q-pa-xs">
                {{ `Feels like ${parseFloat(this.data['main']['feels_like']).toFixed(0)}°C. 
                ${this.data['weather'][0]['description'].charAt(0).toUpperCase() + this.data['weather'][0]['description'].slice(1)}` }}
            </div>

            <!--wind + pressure-->
            <div class="row justify-start items-center q-pa-xs">
                <div class="col-6 justify-center items-center">
                    <div class="row">
                        <q-icon size="xs" name="air"></q-icon>
                        {{`${this.data['wind']['speed']}m/s SSE`}}
                    </div>
                </div>
                <div class="col-6 justify-center items-center">
                    <div class="row">
                        <q-icon size="xs" name="scale"></q-icon>
                        {{`${this.data['main']['pressure']}hPa`}}
                    </div>
                </div>
            </div>
            
            <!--humidity + visibility-->
            <div class="row justify-start items-center q-pa-xs">
                <div class="col-6 justify-center items-center">
                    <div class="row">
                        {{ `Humidity: ${this.data['main']['humidity']}` }}
                    </div>
                 </div>
                 <div class="col-6 justify-center items-center">
                    <div class="row">
                        {{ `Visibility: ${(parseFloat(this.data['visibility'])/1000).toFixed(1)}km` }}
                    </div>
                 </div>
             </div>       
        </div>
    </q-card>
</template>>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
    name:'LocationCard',
    props:['name', 'data'],
    computed:{
        iconUrl: function(){
            return `http://openweathermap.org/img/w/${this.data['weather'][0]['icon']}.png`
        }
    }
})
</script>

<style lang="sass" scoped>
.location
  width: 100%
  background-color:#F5F5F5
  color: black
  font-size: 80%

.iconImg
    width:80%
</style>