<template>
    <q-card class="settingsCard">
        <div class="col-12 q-pa-xs items-center justify-center">
            <!--input-->
            <div class="row text-bold q-pb-xs"> Add location:</div>
                 <div class="row justify-center">
                    <div class='col-10'>
                            <q-select class=".selectLocation" outlined dense color="accent" 
                                v-model="inputLocation" 
                                fill-input hide-selected 
                                emit-value map-options use-input 
                                input-debounce="0" label="Enter location" 
                                :options="locationsList" @filter="filterFn">
                            <template v-slot:no-option>
                                <q-item>
                                <q-item-section class="text-grey">
                                    No results
                                </q-item-section>
                                </q-item>
                            </template>
                        </q-select>
                    </div>
                    <div class="col-2" >
                        <q-btn flat round color="accent" icon="control_point" @click="addLocation" :disable="add"/>
                    </div>
                </div>
                <div v-if="showError" class="row error">
                    Maximum 5 locations, delete a location to add a new one.
                </div>
            <!--list of locations-->
            <div class="row justify-center">     
                <q-list dense>
                    <q-item v-for="(location,i) in savedLocations" :key="i" class="q-my-sm bg-primary" draggable="true" @dragstart="startDrag($event, i)" @drop="onDrop($event, i)" @dragenter.prevent @dragover.prevent>
                    <q-item-section avatar>
                        <q-avatar>
                            <q-icon name="reorder" color="accent"/>
                        </q-avatar>
                    </q-item-section>
            
                    <q-item-section>
                        <q-item-label>{{ `${location.name}, ${location.sys.country}` }}</q-item-label>
                    </q-item-section>
            
                    <q-item-section side>
                        <q-icon name="delete" color="accent" @click="removeLocation(location)"/>
                    </q-item-section>
                    </q-item>
                    </q-list> 
            </div> 
        </div>
      
    </q-card>
</template>>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
    name:'SettingsCard',
    props:['data'],
    data(){
        return{
            inputLocation:'',
            locationsList: [],
            savedLocations: [],
            maxLocations: 5,
            showError: false,
            add: false
        }
    },
    created(){
        this.savedLocations = this.data.slice(0)
    },
    methods:{
        startDrag(evt, index){
                evt.dataTransfer.dropEffect = 'move'
                evt.dataTransfer.effectAllowed = 'move'
                evt.dataTransfer.setData('itemIndex', index)
        },
        onDrop(event, index){
            const indexFrom = parseInt(event.dataTransfer.getData('itemIndex'))
            this.savedLocations.splice(index, 0, this.savedLocations.splice(indexFrom, 1)[0]);
            let locations = JSON.parse(localStorage.getItem('selectedLocations'))
            locations.splice(index, 0, locations.splice(indexFrom, 1)[0]);
            localStorage.setItem('selectedLocations',JSON.stringify(locations))
        },
        async filterFn (val, update) {
            let results = []
            await this.$api.get(`/geo/1.0/direct?q=${val}}&limit=2&appid=${this.$key}`)
                    .then((response) => {
                 response.data.forEach((element)=>{
                    let locationName = `${element.name}, ${element.country}`
                    let newLocation = {'coord':{'lat':element.lat, 'lon':element.lon}, 'name':element.name, 'sys':{'country':element.country}}
                    results.push({label:locationName, value:JSON.stringify(newLocation)})
                 })        
            })
            .catch((err)=>{
                console.error(err)})
            setTimeout(()=>{
                update(() => {
                        this.locationsList = results
                    })
            },1500)
           
        },
       addLocation(){
            let locations = JSON.parse(localStorage.getItem('selectedLocations'))
            if(locations.length < this.maxLocations){
                this.add = true
                this.showError = false
                const input = JSON.parse(this.inputLocation)
                locations.push({'latitude':input.coord.lat, 'longitude':input.coord.lon})
                localStorage.setItem('selectedLocations', JSON.stringify(locations))
                this.savedLocations.push(input)
                this.add = false
            }else{
                this.showError = true
            }
            this.inputLocation = ''
           
       },
       removeLocation(location){
            let removeElem = (elem)=>(elem['coord']['lat'].toFixed(2)==location['coord']['lat'].toFixed(2) 
                                        && elem['coord']['lon'].toFixed(2) == location['coord']['lon'].toFixed(2))
            let removeIndex = this.savedLocations.findIndex(removeElem) 
            if (removeIndex !== -1) {
                 this.savedLocations.splice(removeIndex, 1);
                 this.showError = false
                 }
            let locations = JSON.parse(localStorage.getItem('selectedLocations'))
            removeElem = (elem)=>(elem.longitude.toFixed(2)===location['coord']['lon'].toFixed(2) 
                                    && elem.latitude.toFixed(2) === location['coord']['lat'].toFixed(2))
            removeIndex = locations.findIndex(removeElem);
            if (removeIndex !== -1) {
                locations.splice(removeIndex, 1);
                localStorage.setItem('selectedLocations', JSON.stringify(locations))
            }
       },
    }
})
</script>

<style lang="sass" scoped>
.settingsCard
    width: 100%
    background-color:#F5F5F5
    color: black
    font-size: 14px
.selectedLocations
    font-size: 12px
.error
    font-size: 10px
    color: red

</style>