<template>
   <q-card class="bg-secondary text-accent">
        <div class="col-12 justify-center items-center">
            <div class="row justify-center items-center">
                <q-spinner-ios color="accent" size="2em"/>
            </div>
            <div class="row justify-center items-center text-accent text-bold">
                Data not available yet...
            </div>
        </div>
   </q-card>
</template>>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
    name:'WaitCard',
})
</script>
