<template>
  <q-card class="mainCard">
   
    <q-card-actions class="row justify-end q-pa-xs cardActions">
      <q-btn flat round color="accent" icon="arrow_back" v-if="isOpenSettings" @click="updateLocations"/>
      <q-btn :disable="weatherData.length===0" flat round color="accent" icon="settings" @click="()=>this.isOpenSettings=true"/>
    </q-card-actions>

    <q-card-section class="q-pa-xs" v-if="!isOpenSettings && weatherData.length!==0">
            <div class="row q-pa-xs" v-for="(locationData, location) in this.weatherData" :key="location">
                  <LocationCard v-bind:name="locationData['name']" v-bind:data="locationData"></LocationCard>
            </div>
    </q-card-section>

    <WaitCard v-if="!isOpenSettings && weatherData.length===0"></WaitCard>

    <SettingsCard v-if="isOpenSettings" v-bind:data="weatherData"></SettingsCard>

  </q-card>
</template>

<script>
   import { defineComponent } from 'vue'
   import LocationCard from './LocationCard.vue'
   import WaitCard from './WaitCard.vue'
   import SettingsCard from './Settings.vue'
   
   export default defineComponent({
     name: 'WeatherWidget',
     components:{
        WaitCard,
        LocationCard,
        SettingsCard
     },
     data(){
      return{
        weatherData:[],
        updateInterval: 30000,
        isOpenSettings: false,
        locations:[],
      }
     },
     created(){
      
      this.initLocations()

     },
     methods:{ 
      
      //Location
      successGetLocation(position){
           this.locations = [{'latitude':position.coords.latitude, 'longitude':position.coords.longitude}]
           localStorage.setItem('selectedLocations',JSON.stringify(this.locations))
            let context = this
            // eslint-disable-next-line 
            let timerID = setTimeout(function update() {
                  context.downloadWeather()
                  timerID = setTimeout(update, context.updateInterval); 
                }, this.updateInterval);
           
        },
     errorGetLocation(){
          this.locations= [{'latitude':55.75, 'longitude':37.615}] //Moscow, Russia 
          localStorage.setItem('selectedLocations',JSON.stringify(this.locations))
          let context = this
          // eslint-disable-next-line 
           let timerID = setTimeout(function update() {
                  context.downloadWeather()
                  timerID = setTimeout(update, context.updateInterval); 
                }, this.updateInterval);
      },
      initLocations(){
          this.locations = JSON.parse(localStorage.getItem('selectedLocations'));
          if(!this.locations){
            navigator.geolocation.getCurrentPosition(this.successGetLocation, this.errorGetLocation)
          }else{
           let context = this
           // eslint-disable-next-line 
           let timerID = setTimeout(function update() {
                  context.downloadWeather()
                  timerID = setTimeout(update, context.updateInterval); 
                }, this.updateInterval);
          }
            
        },
      updateLocations(){
        this.isOpenSettings = false
        this.weatherData = []
        this.locations = JSON.parse(localStorage.getItem('selectedLocations'));
      },

      //Get Data
      downloadWeather(){
          this.locations.forEach(element => {
            this.$api.get(`/data/2.5/weather?lat=${element.latitude}&lon=${element.longitude}&units=metric&appid=${this.$key}`)
            .then(response => {
              const updateIndex = this.weatherData.findIndex((val)=>response.data['name']===val['name'])
              if(updateIndex===-1){
                this.weatherData.push(response.data)
              }else{
                this.weatherData[updateIndex] = response.data
              }
            })
            .catch(err => {
              console.error(err)
            })
          });
        },

     }
   })
   </script>

<style lang="sass" scoped>
.mainCard
  width: 100%
  max-width: 300px
  background-color:#C0C0C0

.q-btn
   font-size: 10px
</style>