<template>
  <WeatherWidget></WeatherWidget>
 </template>
 
 <script>
 import { defineComponent } from 'vue'
 import WeatherWidget from './components/WeatherWidget.vue';
 
 export default defineComponent({
   name: 'App',
   components:{
     WeatherWidget,
   }
 })
 </script>
